th {
    text-align: center;
}

.course-id {
    text-align: center;
}

.name {
    text-align: center;
}

#menu {
    background-color: #343A40;
    width: 20vw;
    /* height: 100% !important; */
    overflow: auto;
}

.table-main {
    /* border: none; */
    /* border-right: solid 1px rgb(75, 90, 102); */
    border-collapse: collapse;
    border-spacing: 0;
    /* font: normal 13px Arial, sans-serif; */
}
/* 
.table-main thead th {
    background-color: rgb(203, 220, 233);
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
} */

/* .table-main tbody td {
    border-bottom: solid 1px rgb(75, 90, 102); 
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
} */

.table {
    position: relative;
}

.table-scroll {
    margin-left: 131px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 100vw;
}

.table-main .fix-col {
    /* border-left: solid 1px rgb(75, 90, 102);
    border-right: solid 1px rgb(75, 90, 102); */
    /* left: 0; */
    position: absolute;
    top: auto;
    width: 100px;
}