th {
    text-align: center;
}

.course-id {
    text-align: center;
}

.name {
    text-align: center;
}

#menu {
    background-color: #343A40;
    width: 20vw;
    overflow: auto;
}

table {
    position: relative;
    margin-left: 200px;
}

.table-scroll {
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 100%;
}

.table-main .fix-col {
    position: fixed;
    left: 200;
}